@media (min-width: 1080px) {
    main {
        width: 1060px;
        max-width: 1060px;
    }

    #titulo {
        width: 580px;
    }

    h1 {
        font-size: 2.4em;
    }

    h2.subtitulo {
        font-size: 2.2em;
    }

    #titulo p {
        font-size: 1.2em;
    }

    #conteudo {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .bloco {
        width: 330px;
    }

    .borda-ciano, .borda-azul {
        margin: 25px 0; 
    }
}