@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap'); 

/*
- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit', sans-serif;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: hsl(220, 15%, 55%);
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 250px;
    height: 430px;
    padding: 15px;
    border-radius: 15px;
    transform: translate(-50%, -50%);
}

div#img {
    background: white url(../images/image-qr-code.png) center center/cover no-repeat fixed;
    width: 100%;
    height: 65%;
    border-radius: 10px;
}

div#texto {
    width: 100%;
    height: 35%;
}

div#texto h1 {
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

div#texto p {
    color: hsl(210, 7%, 54%);
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
}
